{% extends "base.html" %} {% block title %}AstuteAI CMS{% endblock %} {% block
content %}

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="../static/css/markdown.css" />

<div class="w-5/6 mx-auto h-56 border-b-gray-400/20 border-b-[1px]">
  <!-- Image -->
  <img
    src="{{res['thumbnail']}}"
    alt="banner"
    class="object-fill w-full h-full"
  />
</div>
<div class="mx-auto w-full md:w-5/6 p-1 mt-2 space-y-4 font-poppins">
  <!-- Title -->
  <h1 class="text-4xl font-bold tracking-wide mt-4">{{res['title']}}</h1>
  <p class="font-medium text-slate-600">
    Published by :
    <!-- author -->
    <span class="text-blue-700">{{res['author']}}</span>
    &nbsp;
    <span class="text-slate-400 text-sm font-thin"
      >{{res['date_created']}}</span
    >
  </p>
  <div class="content pt-4">
    <!-- content -->
    {{res['content'] | safe }}
  </div>
</div>

{% endblock %}
